@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');

$lato: 'Lato', sans-serif;
$ubuntu: 'Ubuntu';



$size-font: 10px;
$size-font1: 11px;
$size-font2: 12px;
$size-font3: 16px;
$size-font4: 14px;
$size-font5: 9px;
$size-h1: 124px;
$size-h2: 20px;
$size-h3: 22px;
$size-h4: 22px;
$size-h5: 12px;
$size-h6: 10px;

